body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .wrapper {
    display: flex;
    flex: 1;
  }
  
  .left-sidebar {
    width: 245px;
    background-color: #000000;
    color: #fff;
    padding: 12px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .left-sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .left-sidebar a:hover {
    text-decoration: underline;
  }
  
  .left-sidebar #moreLink {
    position: absolute;
    bottom: 20px;
  }
  
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  .instaimg{
    display: none;
  }
  .popup-content a {
    display: block;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .middle-content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    margin-left: 245px;
    margin-right: 245px; /* Add this line to prevent overlapping with right sidebar */
  }
  
  .right-sidebar {
    width: 245px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }
  
  .right-sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .right-sidebar a:hover {
    text-decoration: underline;
  }
  
  .bottom-navbar {
    display: none;
  }
 
 .moreSvg{
    margin-right: 19px;
    margin-left: 13px;
  }
  .name-logo{
    height: 57px;
    width: 220px;
    padding: 25px 12px 0px 12px;
  }


  #left-icon{
    display: flex;
  }
  .left-svg-icon, .left-profile-image{
    margin-right: 19px;
    margin-left: 13px;
  }
  .nav-name{
    font-size: 16px;
    font-weight: 700;
    
  }
  .left-profile-image{
    height: 24px;
    border-radius: 100px;
  }
  #left-icon, #moreLink{
    display: flex;
    text-decoration: none;
    border: 1px solid #000000;
    height: 35px;
    max-width: 100%;
    padding-top: 10px;
    border-radius: 8px;
  }
  #moreLink{
    width: 217px;
  }
#left-icon:hover{
  background-color: #1a1a1a;
}
#moreLink:hover{
  background-color: #1a1a1a;
}
.nav-name:visited{
  color: #fff;
}

  /* responsiveness */
  @media (max-width: 940px) {
    .right-sidebar {
      display: none;
    }
    .middle-content {
      flex-grow: 1;
      padding: 20px;
      box-sizing: border-box;
      overflow-y: auto;
      margin-left: 245px;
      margin-right: 12px; /* Adjust this value as needed */
    }
  }
  
  @media (max-width: 800px) {
    .name-logo{
      background-image: url(../images/instagram-logo.png);
      background-repeat: no-repeat;
      background-size: 45px;
      background-position: center;
    }
    .name-logo-insta{
      display: none;
    }
    
    .right-sidebar, .nav-name {
      display: none;
    }
    .left-sidebar {
      width: 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #moreLink{
      display: flex;
      width: 57px;
    }
    
    .middle-content {
      margin-left: 90px;
      margin-right: 0; /* Adjustpx margin for small screens */
    }
  }
  
  @media (max-width: 630px) {
    .left-sidebar {
      display: none;
    }
  
    .middle-content {
      margin-left: 0;
      width: 100%;
      margin-right: 0; /* Adjust margin for small screens */
    }
  
    .bottom-navbar {
      display: flex;
      background-color: #333;
      color: #fff;
      padding: 10px;
      justify-content: space-around;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      z-index: 1000;
      overflow-x: auto;
    }
  
    .bottom-navbar a {
      color: #fff;
      text-decoration: none;
      padding: 8px 16px;
      display: block;
      text-align: center;
      text-decoration: none;
    }
  
    .bottom-navbar a:hover {
      text-decoration: underline;
    }
  }