.story-container {
    position: relative;
    height: 100px;
    width: 86px;
    background-color: transparent;
    border: 0px; 
}

.user-name{
    position: absolute;
    font-size: 12px;
    top: 90px;
}
.overlay {    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.large-image {
    width: 538px;
    height: 958px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Added position:relative */
}
.large-image img {
    max-width: 100%;
    max-height: 100%;
}
.close-button {
    position: absolute;
    top: 27px;
    right: 27px;
    background: none;
    border: none;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
}
.loader-container {
    position: absolute; /* Added position:absolute */
    top: 10px;
    left: 10px;
    right: 10px;
    width: 100%;
    height: 4px; /* Added height */
    background: rgba(255, 255, 255, 0.7); /* Added background */
    border-radius: 10px;
}

.loader-line {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: #cf1b1b;
    border-radius: 10px;
}

@keyframes loader-animation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.play-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.play-button {
    font-size: 50px;
    color: #b31b1b;
    background: none;
    border: none;
    cursor: pointer;
}
.scrollable-story{
    width: 645px;
    height: 170px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    
}
.scrollable-story::-webkit-scrollbar {
    display: none;
  }
.user-pic{
    top: 20px;
    left: 15px;
    border-radius: 100%;
    position: absolute;
    height: 56px;
}
.user-name{
    color: #fff;
    font-size: 12px;
}